# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment
.env
server/.env
client/.env

# Build
dist/
build/

# Python
venv/
.venv/
__pycache__/
*.pyc

# ML
*.pkl
*.joblib

# Logs
*.log

# VS Code
.vscode/
.idea/